@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
    .font-h1 {
        @apply font-bold text-2xl/[2.125rem];
    }
    .font-h2 {
        @apply font-bold text-lg/6;
    }
    .font-h3 {
        @apply font-medium text-lg/[1.688rem];
    }
    .font-b1 {
        @apply font-bold text-base/[1.625rem];
    }
    .font-b2 {
        @apply font-normal text-base/[1.625rem];
    }
    .font-b3 {
        @apply font-bold text-sm/[1.375rem];
    }
    .font-b4 {
        @apply font-normal text-sm/[1.375rem];
    }
    .font-b5 {
        @apply font-normal text-sm/[1.625rem];
    }
    .font-b6 {
        @apply font-normal text-xs/[1.125rem];
    }
}

@layer utilities {
    @media (min-aspect-ratio: 320/578) {
        .photo-card-width {
            width: 36vw;
        }

        .sticker-width {
            width: 24vw;
        }

        .letter-card-width {
            width: 40vw;
            height: calc(40vw*0.833)
        }

        .music-player-width {
            width: 57vw;
            height: calc(57vw/1.89)
        }
    }

    @media (max-aspect-ratio: 320/578) and (min-aspect-ratio: 390/772) {
        .photo-card-width {
            width: 38.5vw;
        }

        .sticker-width {
            width: 26vw;
        }

        .letter-card-width {
            width: 43vw;
            height: calc(43vw*0.833)
        }

        .music-player-width {
            width: 62vw;
            height: calc(62vw / 1.89)
        }
    }

    @media (max-aspect-ratio: 390/772) {
        .photo-card-width {
            width: 41vw;
        }

        .sticker-width {
            width: 28vw;
        }

        .letter-card-width {
            width: 46vw;
            height: calc(46vw*0.833)
        }

        .music-player-width {
            width: 67vw;
            height: calc(67vw/1.89)
        }
    }
}
